
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <title>21212.com - Groups</title>

  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap.min.css" type="text/css" media="all" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/css/bootstrap-responsive.min.css" type="text/css" media="all" />
</head>

<body>
  <div class="container">
    <!-- MAIN HEADER -->
    <header class="row">
      <div class="span12">
        <h1>21212's users groups</h1>
        <hr />
      </div>
    </header>

    <!-- FIRST GROUP -->
    <div class="row">
      <div class="span12">
        <h3>Login</h3>
      </div>
    </div>
    <div class="row">
      <div class="span8">
		  <form action="/login" method="post">
			   <p>Username:</p><input type="text" name="user">  
		  	   <p>Password:</p><input type="password" name="password">
			   <button class="btn btn-info" type="submit">Submit</button>
		  </form>	  
      </div>
    </div>
   
    

  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.1/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>

